.mainImg {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment: scroll;
    background-image: url('../images/dinner-dish-egg-.jpg');
    min-height: 980px;
}
body {
    font-family: 'Roboto', sans-serif;
}
.mainImgTxt {
    font-size: 60px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: auto;
    padding-top: 10%;
}
.searchBarContainer {
    width: 50%;
    margin: 0 auto 0 auto;
}
.card-img-overlay .card-title {
    color: white;
}
.card-title {
    margin-top: 25%;
}
.card-img {
    border-radius: 5px;
    opacity: 0.8;
    box-sizing: border-box;
}

.zoom {
    transition: transform .2s;
}
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.fa-search-location {
    font-size: 30px;
}
.fa-yelp {
    color: red;
    font-size: 25px;
}
.input-group .form-control{
    min-height: 50px;
}



#cardListContainer{
    display: flex;
    flex-wrap: wrap;
}

#render-places {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
    

