.pimg1 {
    position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/*
      fixed = parallax
      scroll = normal
    */
	background-attachment: scroll;
}
.pimg1 {
	background-image: url('../images/heroimg.jpg');
    min-height: 900px;
    
}
.ptext {
    font-size: 60px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: auto;

}
#money{
    width: 30px;
}

.navbar-custom {
    background-color: #ffad33 !important;
}
